:root {
  --bg: #181818;
}

@font-face {
  font-family: "CR7FONT";
  src: url("../../assets/fonts/CR7FONT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
    color: white;
    background-color: var(--bg);
}